<title>Alta Via from Eating Pittsburgh</title>

<body>
<!--Hero-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Alta Via</h1>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="container">
                <h2>Average User Rating</h2>
                <br>
                <iframe
                    width="600"
                    height="450"
                    frameborder="0" 
                    style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDcs6tXk2TB6lHoFlkAlpVWEkpzMcd36os&q=Alta+Via,Pittsburgh+PA" allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="container">
                <a href="https://altaviapgh.com/">Restaurant Website</a>
                <br>
                <br>
                <i class="fas fa-phone-square-alt"></i><a href="tel:+14124083816"> Click to Call</a>
                <br>
                <br>
                <form action="/ratings/create" method="post"
                    <div class="form-group">
                        <label>Your Rating (1 to 10)</label>
                        <input type="integer" class="form-control" name="rating">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>