<title>Eating Pittsburgh</title>
<body>

<!--Hero-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Eating Pittsburgh</h1>
        </div>
    </div>

<!--Sign Up Success Message-->


<!--Restaurants-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6" class="container-neighborhoods">
                <img class="img-fluid" src="/images/pgh_neighborhoods.png" alt="Pittsburgh Neighborhoods">
            </div>
            <div class="col-lg-6">
                <!--Restaurants by Location List-->
                <h3>Restaurants by Location</h3>
                <ul>
                    <li>Downtown - Talia</li>
                    <li>East Liberty - Dinette</li>
                    <li>Fox Chapel - Alta Via</li>
                    <li>Highland Park - Smiling Banana Leaf</li>
                    <li>Lawrenceville - Coca Cafe</li>
                    <li>Shadyside - Girasole</li>
                    <li>Strip District - DiAnoia's</li>
                </ul>
                <br>
                <!--Restaurants Grid-->
                <h3 class="centered">All Restaurants</h3>
                <br>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-sm-6">
                            <h4><a href="/talia">Talia</a></h4>
                            <img class="img-fluid" src="/images/Talia.png">
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <h4><a href="/dianoias">DiAnoia's</a></h4>
                            <img class="img-fluid" src="/images/DiAnoia's Dinner.png">
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <h4><a href="/alta-via">Alta Via</a></h4>
                            <img class="img-fluid" src="/images/Alta Via.jpg">
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <h4><a href="/coca-cafe">Coca Cafe</a></h4>
                            <img class="img-fluid" src="/images/Coca Cafe.png">
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <h4><a href="/girasole">Girasole</a></h4>
                            <img class="img-fluid" src="/images/Girasole.png">
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <h4><a href="/smiling-banana-leaf">Smiling Banana Leaf</a></h4>
                            <img class="img-fluid" src="/images/Smiling Banana Leaf.png">
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <h4><a href="/dinette">Dinette</a></h4>
                            <img class="img-fluid" src="/images/Dinette.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>