<title>Logout - Eating Pittsburgh</title>

<body>

<!--Hero-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>You are logged out.</h1>
        </div>
    </div>

</body>