<title>Login Successful - Eating Pittsburgh</title>

<body>

<!--Hero-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Thanks, you are logged in!</h1>
        </div>
    </div>

</body>