<title>Sign Up - Eating Pittsburgh</title>

<body>

<!--Hero-->
    <div class="jumbotron jumbotron-fluid">
            <a class="btn btn-primary" href="/log-in" role="button">Log In</a>    
        <div class="container">
            <h1>New User Sign Up</h1>
        </div>
    </div>

</body>